.bots{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: +1;
}

.robo{
    margin-top: 0;
    top: 0;
	margin-bottom: 100px;
}

.bgd{
    top: auto;
    margin: auto 0;
    background:linear-gradient(-45deg, #EE7752, #E73C73, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: relative;
    animation: change 4s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.color{
    text-align: center;
    top: 50%;
    left: 50%;
}

